<footer class="footer">
  <small>
    Weightable: based on the <a href="http://railstutorial.org/">Rails Tutorial</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "home",   root_path %></li>
      <li><%= link_to "view your profile", current_user if signed_in? %></li>
    </ul>
  </nav>
</footer>